1task_cellpose2_p30-E165_R1_roi_analysis_parallel/
2task_cellpose2_p30-E165_R1_roi_analysis_parallel/
models/
# Ignore all contents in DATA/ but keep directories and roi_coords.json files
DATA/**/*
!DATA/
!DATA/**/
!DATA/**/roi_coords.json
Archive/
logs/
**/__pycache__/
DATA_INTEGRATION/p30_R4_tangram_integrated.csv
DATA_INTEGRATION/p30_R4_tangram_integrated.h5ad
DOCs/NotSync
vzg_build_temp/
tmp/
**tmp/
DATA_INTEGRATION/temp
*.lock
*.vzg
